@model Book
   
@{
     
}
<a class="card-link" asp-area="" asp-controller="Books" asp-action="index">Regrasar a libros</a>
<h1>Detalle @Model.titulo</h1>

<p>titulo: @Model.titulo</p>
<p>titulo: @Model.autor</p>
<p>titulo: @Model.anio</p>